<section class="header-section container">
  <div class="header-icon-container">
    <svg width="1000" height="1000" class="header-icon">
      <use href="svg/icon-logo-cinema.svg#cinema"></use>
    </svg>
    <a href="index.html" class="header-title">Cinemania</a>
  </div>
  <ul id="header-links" class="header-link-container">
    <li><a href="index.html">HOME</a></li>
    <li><a class="catalog-button">CATALOG</a></li>
    <li><a>LIBRARY</a></li>
  </ul>
  <div class="menu-button-div"><button class="menu-button">MENU</button></div>
  <div class="toggle-container">
    <div class="toggle-theme">
      <input type="checkbox" id="theme-toggle" />
      <label class="theme-toggle" for="theme-toggle">
        <span class="toggle-sun">
          <img
            class="toggle-sun-icon"
            src="public/sun.svg"
            width="13"
            height="13"
            alt="Güneş"
          />
        </span>
        <span class="toggle-moon">
          <img
            class="toggle-moon-icon"
            src="public/moon.svg"
            width="13"
            height="13"
            alt="Ay"
          />
        </span>
        <span class="toggle-slider"></span>
      </label>
    </div>
  </div>
  <div class="responsive-menu">
    <svg width="1000" height="1000" class="header-icon">
      <use href="svg/icon-logo-cinema.svg#cinema"></use>
    </svg>
    <ul id="header-links" class="header-link-container">
      <li><a href="index.html">HOME</a></li>
      <li><a>CATALOG</a></li>
      <li><a>LIBRARY</a></li>
    </ul>
  </div>
  <div class="responsive-overlay"></div>
</section>
