@media (min-width: 768px) {
    .load-more-button{
        margin:40px auto 0px auto;
    }
    .empty-library-title{
        font-size: 2.4rem;
    }
    
    .removed-message-container{
        position: absolute;
    }
}