<section class="container">
  <div class="catalog-desc-container">
    <p class="catalog-title">WEEKLY TRENDS</p>
    <a class="catalog-link">See All</a>
  </div>
  <div id="catalog-movie-gallery" class="catalog-library-css"></div>
  <!-- Sayfa numaraları, prev ve next butonlarını içeren div -->
  <div class="pagination">
    <button id="prevPageBtn" class="pagination-btn prev-btn">
      <svg
        class="pagi-svg"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.9375 6.125L10.0625 14L17.9375 21.875"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <div class="page-numbers"></div>

    <button id="nextPageBtn" class="pagination-btn next-btn">
      <svg
        class="pagi-svg"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.0625 6.125L17.9375 14L10.0625 21.875"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>
