<section class="upcoming container">
  <h2 class="upcoming__title">UPCOMING THIS MONTH</h2>
  <div class="upcoming-content">
    <div class="upcoming-content__img-container">
      <img class="upcoming-content__img" id="movie-poster" alt="Movie Poster" />
    </div>
    <div class="upcoming-content__desktop">
      <h3 class="upcoming-content__name" id="movie-title">Movie Title</h3>

      <div class="upcoming-thumb">
        <ul class="upcoming-list">
          <li class="upcoming-list__item">
            <p class="upcoming-list__text">Release date</p>
            <p class="upcoming-list__date" id="release-date">03.03.2023</p>
          </li>
          <li class="upcoming-list__item">
            <p class="upcoming-list__text">Vote / Votes</p>
            <p class="upcoming-list__vote">
              <span class="vote" id="vote-average">7.3</span> /
              <span class="vote" id="vote-count">1260</span>
            </p>
          </li>
          <li class="upcoming-list__item">
            <p class="upcoming-list__text">Popularity</p>
            <p class="upcoming-list__pop" id="popularity">99.9</p>
          </li>
          <li class="upcoming-list__item">
            <p class="upcoming-list__text">Genre</p>
            <p class="upcoming-list__genre" id="genres">Comedy, action</p>
          </li>
        </ul>
      </div>

      <h3 class="upcoming-content__title">About</h3>
      <p class="upcoming-content__text" id="overview">
        Movie overview will go here.
      </p>

      <button
        type="button"
        class="upcoming-content__btn orange-button"
        id="upcoming-add-btn"
      >
        Add to my library
      </button>
      <button
        type="button"
        class="upcoming-content__btn-remove hidden white-button"
        id="upcoming-remove-btn"
      >
        Remove from my library
      </button>
    </div>
  </div>
</section>
