<section class="popup-section-container hidden">
  <div class="popup-section">
    <div class="popup-trailer"></div>
    <button class="close-btn">
      <svg class="close-svg" width="24" height="24">
        <use href="svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="popup-content-container">
        <div class="popup-img-container">
            <img class="afis-img" src="" alt="Movie Poster">
        </div>
        <div class="popup-film-info">
          <div class="popup-film-content">
            <h2 class="film-title"></h2>
            <ul class="film-details">
              <li>
                <p>Vote / Votes</p>
                <p>Popularity</p>
                <p>Genre</p>
              </li>
              <li>
                <p><span class="vote-description average-rating"></span> /
                  <span class="vote-description vote-count"></span></p>
                <p class="description popularity"></p>  
                <p class="description genre"></p>
              </li>
            </ul>
          </div>
          <div class="popup-film-about-title">
            <h3 class="film-about">ABOUT</h3>
            <p class="film-about-desc"></p>
          </div>
          <div class="popup-buttons">
            <button type="button" class="film-btn orange-button add-btn" id="popup-add-btn">Add to my library</button>
            <button type="button" class="film-btn hidden white-button remove-btn" id="popup-remove-btn">Remove from my library</button>
          </div>
        </div>
    </div>
  </div>
</section>
